/*reference*/

h1{
    font-size:60px ;
}
* {
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 1;
    padding: 20px;
   padding-top: 80px;

  }
  
  section {
    flex: 3;
    padding: 20px;

  }

.skills ul li a{
    color: #649566;
}

.vl { 
    position: absolute;
    border-left: 2px solid green;
    height: 100px;
    left: 95%;
    top: 45%;
} 

  #begin, #middle, #end {
    color: #9ccc9c;
   
}
  
aside h2{
    color: #20c20e;
    font-size: 35px;
    left: 70%;
    position: absolute;
    top: 350px;
}

#skillsHead{
    color:#20c20e;
    font-size: 30px;
    line-height: 2;
    position: relative;
    bottom: 1.2vh;
}

  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
  }
  