@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=VT323&display=swap');

* {
  box-sizing: border-box;
}

section {
  flex: 3;
  padding: 20px;
  padding-top: 10%;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  color: #1c6727;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card p{
  color: #9ccc9c;
}

.card p a{
  color: #1ba616;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 50px 16px;
}

  #tekkCard{
    position: absolute;
    right: 5%;
  }

  #shotCard{
    position: absolute;
    right: 39%;
  }

  #mealFinder{
    position: absolute;
    left: 5%;
  }

  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav, section {
      flex-direction: column;
    }

    
  }